*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#bulb{
    margin: 100px;
    height: 300px;
    width: 300px;
    border: 5px solid black;
    border-radius: 50%;
    /* background-color: yellow; */
}

button{
    padding: 10px 30px;
    margin-left: 190px;
    font-size: large;
    font-style: italic;
    font: bold;
}

h1{
    font-size: 70px;
    font-weight: 800;
}